<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);
body {
  padding: 60px 0;
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://softcodeon.com/cm/g.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0 auto;
  width: 500px;
}
.text {
  padding: 0 20px 30px 20px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  text-align: center;
}
.soft-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-info {
  background: linear-gradient(90deg, rgba(94,32,121,1) 0%, rgba(114,58,184,1) 100%);
  width: 100%;
  display: flex;
}
.soft-info {
  background: linear-gradient(90deg, rgba(94,32,121,1) 0%, rgba(114,58,184,1) 100%);
  color: #fff;
  padding: 1px 0;
  text-align: center;
  border-radius: 30px 30px 0px 0px;
}
h1 {
  font-size: 1.3em;
  font-family: "Roboto"
}
input {
  margin: 1px 0;
  padding-left: 3%;
  font-size: 14px;
}
input[type="text"]{
  display: block;
  height: 40px;
  width: 97%;
  border: none;
}
input[type="email"]{
  display: block;
  height: 50px;
  width: 97%;
  border: none;
}
input[type="submit"]{
  display: block;
  height: 60px;
  width: 100%;
  border: none;
  background: linear-gradient(90deg, rgba(94,32,121,1) 0%, rgba(114,58,184,1) 100%);
  color: #fff;
  margin-top: 2px;
  curson: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0px 0px 30px 30px;
}
input[type="submit"]:hover{
  background-color: #6FB7E9;
  transition: 1.3s ease;
}
#co-left {
  width: 46.8%;
  float: left;
  margin-bottom: 2px;

}
#co-right {
  width: 46.8%;
  float: right;
}

@media only screen and (max-width: 480px){
  body {
    width: 100%;
    margin: 0 auto;
  }
  .soft-container {
    margin: 0 2%;
  }
  input {
    font-size: 1em;
  }
  #input-button {
    width: 100%;
  }
  #get-input {
    width: 96.5%;
  }
  h1 {
    font-size: 1.2em;
  }
  input {
    margin: 2px 0;
  }
  input[type="submit"]{
    height: 50px;
  }
  #co-left {
    width: 96.5%;
    display: block;
    float: none;
  }
  #co-right {
    width: 96.5%;
    display: block;
    float: none;
  }
}
</style>